In [1]:
'''
@Author: Rashmi
@Date: 2021-12-8 23:10
@Last Modified by: Rashmi
@Last Modified time: 2021-12-9  00:16
@Title : python program to create bucket,upload objects into
bucket,to download objects,read objects,delete objects,buckets
using boto3 and s3fs library
'''
import boto3
import pandas as pd
import os
from dotenv import load_dotenv
load_dotenv('.env')

s3 = boto3.client('s3')

In [2]:
# Access
s3 = boto3.resource(
    service_name='s3',
    region_name='ap-south-1',
    aws_access_key_id=os.getenv("Access_key_id"),
    aws_secret_access_key=os.getenv("Secret_access_key")
)

In [3]:
# Creating a bucket
bucket = s3.create_bucket(Bucket='buck81221',CreateBucketConfiguration={'LocationConstraint':'ap-south-1'})

In [4]:
# Print out bucket names
for bucket in s3.buckets.all():
    print(bucket.name)

buck81221

In [5]:
# create emp_data dataframe
emp_data = pd.DataFrame({'emp_id': [1, 2, 3],
            'name': ['Rishika', 'Ravish', 'Mehak'],
            'dept': ['IT', 'ADMIN', 'HR'] 
            })

In [6]:
emp_data.to_csv('Empdata.csv')

In [7]:
#upload the csv file into s3
s3.Bucket('buck81221').upload_file(Filename='Empdata.csv', Key='Empdata.csv')

In [8]:
# get all files in bucket
for obj in s3.Bucket('buck81221').objects.all():
    print(obj)

s3.ObjectSummary(bucket_name='buck81221', key='Empdata.csv')

In [9]:
#upload file directly from local system

s3.Bucket('buck81221').upload_file('/home/lenovo/Downloads/input1.txt','input1.txt')

In [10]:
#to get the file from s3 bucket and read the data
obj_get = s3.Bucket('buck81221').Object('Empdata.csv').get()
pd.read_csv(obj_get['Body'], index_col=0)

   emp_id     name   dept
0       1  Rishika     IT
1       2   Ravish  ADMIN
2       3    Mehak     HR

In [11]:
#to download the file from s3 to local
s3.Bucket('buck81221').download_file(Key='input1.txt', Filename='download.csv')
pd.read_csv('download.csv', index_col=0)

Empty DataFrame
Columns: []
Index: [Hi this is sample program for wordcount Hi this is to execute wordcount of the input data the words are incremented, we get count of words]

In [12]:
# Delete objects from bucket
bucket = s3.Bucket('buck81221')
bucket.objects.all().delete()

[{'ResponseMetadata': {'RequestId': 'VP4MAQBYRGRETHC8',
   'HostId': 'pol6eKxUOJ3TBx/jrFgiPEGKb3k7Idtt3GvcxTiqyDbjMlnyXuvUXQ0sVOI6ULFzHOVh1VLKvF8=',
   'HTTPStatusCode': 200,
   'HTTPHeaders': {'x-amz-id-2': 'pol6eKxUOJ3TBx/jrFgiPEGKb3k7Idtt3GvcxTiqyDbjMlnyXuvUXQ0sVOI6ULFzHOVh1VLKvF8=',
    'x-amz-request-id': 'VP4MAQBYRGRETHC8',
    'date': 'Wed, 08 Dec 2021 18:42:30 GMT',
    'content-type': 'application/xml',
    'transfer-encoding': 'chunked',
    'server': 'AmazonS3',
    'connection': 'close'},
   'RetryAttempts': 0},
  'Deleted': [{'Key': 'Empdata.csv'}, {'Key': 'input1.txt'}]}]

In [13]:
# Check objects in bucket
for obj in s3.Bucket('buck81221').objects.all():
    print(obj)

In [14]:
# To Delete bucket from S3
bucket = s3.Bucket('buck81221')
bucket.delete()

{'ResponseMetadata': {'RequestId': '90QVW435VQQGBGSJ',
  'HostId': 'uAx4wha9qRCdfeGOmMiqGfYg0bO0KODasKMoZNmPqK9n/w0D6NAzaDn5YXeEBlLeMS11SdtbKkQ=',
  'HTTPStatusCode': 204,
  'HTTPHeaders': {'x-amz-id-2': 'uAx4wha9qRCdfeGOmMiqGfYg0bO0KODasKMoZNmPqK9n/w0D6NAzaDn5YXeEBlLeMS11SdtbKkQ=',
   'x-amz-request-id': '90QVW435VQQGBGSJ',
   'date': 'Wed, 08 Dec 2021 18:45:03 GMT',
   'server': 'AmazonS3'},
  'RetryAttempts': 0}}